
body {
  background-color: mediumpurple;
  min-height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body:hover{
  cursor: default;
}

button{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  font-size:24px;
  border-radius:8px;
  padding-right: 20px;
}
button:hover {background: aqua;
cursor:grab;}
